@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

img {
    max-inline-size: 100%;
}

.container {
    inline-size: 90%;
    margin: 0 auto;
    min-height: 100vh;
}

.card {
    padding: 1em;
    border-radius: 1rem;
    box-shadow: 2px 5px 10px rgb(24, 23, 23);
    margin: 0 auto;
    margin-bottom: 1em;
    

}

.card-content {
    inline-size: 95%;
    margin: 0 auto;
    border-radius: 1rem;

}

.card-img {
    border-radius: 1rem;
    overflow-x: hidden;
    display: block;
    margin: 0 auto;
}

.nav-options {
    display: flex;
    justify-content: space-between;
}

.animation-box{
    background: url("https://www.themealdb.com/images/media/meals/u2lhqb1763331899.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 4em 6em;
}

.animation-nav {
    display: flex;
    justify-content: center;
    gap: 30%;
}

.search-icon,
.filter-icon,
.arrow-back-icon,
.arrow-next-icon {
    background-color: #FFC107;
    border-radius: 50%;
    color: #fff;
    padding: 0.4em;
    margin-block: 0.3em;
    text-align: center;
}

.arrow-back-icon,
.arrow-next-icon {
    margin-top: 0;
}

.category-card-text {
    font-family: "Italianno";
    font-size: 3em;
    font-weight: 800;
    text-align: center;
}

.recipe-card-text {
    font-family: "Italianno";
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin-block: 0.3em;
}

.category-and-area {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

