@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

img {
    max-inline-size: 100%;
}

.container {
    inline-size: 90%;
    margin: 0 auto;
    min-height: 100vh;
}

.card {
    padding: 1em;
    border-radius: 1rem;
    box-shadow: 2px 5px 10px rgb(24, 23, 23);
    margin: 0 auto;
    margin-bottom: 1em;
    

}

.card-content {
    inline-size: 95%;
    margin: 0 auto;
    border-radius: 1rem;

}

.card-img {
    border-radius: 1rem;
    overflow-x: hidden;
    display: block;
    margin: 0 auto;
}

.filter-options {
    background-color: rgb(48, 46, 46);
    color: #fff;    
    padding: 2em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 1;   
    transition: 0.5s;
}

.filter-option {
    text-decoration: none;
    font-family: "Ubuntu";
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.nav-options {
    display: flex;
    justify-content: space-between;
}

.animation-box{
    background: url("https://www.themealdb.com/images/media/meals/u2lhqb1763331899.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 4em 6em;
}

.animation-nav {
    display: flex;
    justify-content: center;
    gap: 30%;
}

.search-icon,
.filter-icon,
.arrow-back-icon,
.arrow-next-icon,
.back-icon {
    background-color: #FFC107;
    border-radius: 50%;
    color: #fff;
    padding: 0.4em;
    margin-block: 0.3em;
    text-align: center;
    transition: 0.5s;
}

.search-icon:hover,
.filter-icon:hover,
.arrow-back-icon:hover,
.arrow-next-icon:hover,
.search-btn:hover,
.back-icon:hover,
.see-recipes-btn:hover,
.recipe-content a:hover {
    cursor: pointer;
    transform: translate(-4px,-2px);
}

.arrow-back-icon,
.arrow-next-icon {
    margin-top: 0;
}



.search-box{
    padding: 0.6em 0.1em;
    border-radius: 0.8rem;
    text-align: center;
    border: 1px solid #000;
    transition: 0.5s;
}

.search-btn {
    padding: 0.6em 0.4em;
    border-radius: 1rem;
    text-align: center;
    background-color: #FFC107;
    color: #fff;
    border: 2px solid #5c4e04;
    transition: 0.5s;
}



.category-card-text {
    font-family: "Italianno";
    font-size: 3em;
    font-weight: 800;
    text-align: center;
}

.see-recipes-btn {
    background-color: #FFC107;
    color: #fff;
    padding: 1em 0.1em;
    border-radius: 1rem;
    font-family: "Ubuntu";
    font-size: 1.6em;
    border: 2px solid #957106;
    width: 100%;
    transition: 0.5s;
}

.animation-card-text {
    font-family: "Italianno";
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin-block: 0.3em;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe-card-text {
    font-family: "Italianno";
    font-size: 4em;
    font-weight: 400;
    text-align: center;
    margin-block: 1em;
}

.heading {
    font-family: "Ubuntu";
    font-weight: 600;
    font-size: 3em;
    margin: 0.7em;
    text-decoration: underline;
    text-align: center;
}

.recipe-page-design {
    inline-size: 80%;
    margin: 0 auto;
    padding: 1em;
    padding-top: 5em;
    border-radius: 1rem;
    box-shadow: 2px 5px 10px rgb(24, 23, 23);
    margin: 0 auto;
    margin-bottom: 1em;
    background-color: #a98b30;
    color: #fff;
    max-inline-size: 70rem;
    font-family: "Ubuntu";
}

.recipe-content{
    inline-size: 90%;
    margin: 0 auto;
}

.recipe-content img{
    inline-size: 100%;
}

.btn-category-flex{
    display: flex;
    justify-content: space-between;
}
.recipe-content-tags {
    font-family: "Italianno";
    font-size: 2em;
    font-weight: 500;
    text-decoration: underline;
}

.recipe-content a{
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    background-color: #fff;
    color: #000;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 2px 5px 10px rgb(81, 84, 61);
    font-family: "Ubuntu";
    align-self: center;
}

.ingredients-head {
    font-weight: 800;
    font-size: 1.4em;
}

.ingredients {
    font-size: 1.1em;
}

.ingredients li{
    margin-bottom: 0.4em;
}

.recipe-steps{
    font-size: 1.2em;
}
.recipe-steps span{
    font-weight: 600;
}

.warning {
    font-size: 5em;
    font-family: "Ubuntu";
    font-weight: 700;
    text-align: center;
}

@media (min-width: 600px) {
    .filtered-box,
    .recipes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:1rem
    }
}

@media (min-width: 1200px) {
    .filtered-box,
    .recipes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:1rem
    }
}

@media (max-width: 450px) {
    .btn-category-flex {
        display: block;
    }
}


.hidden {
    display: none;
}